<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Add these permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BDonorApp"
        tools:targetApi="31">


        <activity
            android:name=".UI.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.EditUserProfile"
            android:exported="false" />
        <activity
            android:name=".RequestModule.RunActivity"
            android:exported="false" />
        <activity
            android:name=".RequestModule.RequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".RequestModule.RequestCardActivity"
            android:exported="false" />
        <activity
            android:name=".RequestModule.AddBloodRequestActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity02"
            android:exported="false" />
        <activity
            android:name=".TextActivity"
            android:exported="false" />
        <activity
            android:name=".authenticationModule.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".authenticationModule.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplachScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_api_key" />
    </application>

</manifest>